@import "tailwindcss";

:root {
  --background: #00153B;
  --background-light: #F0FAFC;
  --foreground: #E6E6E6;
  --foreground-light: #1A1A1A;
  --primary: #006FCB;
  --font-size-base: 14px;
  --side-menu-bg: #1b283f;
  --side-menu-active: #dedee833;
  --side-menu-hover: #dedee822;
  --table-header-bg: var(--side-menu-bg)
}

@theme inline {
  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-foreground: var(--foreground);
  --color-foreground-light: var(--foreground-light);
  --color-side-menu-bg: var(--side-menu-bg);
  --color-side-menu-active: var(--side-menu-active);
  --color-side-menu-hover: var(--side-menu-hover);
  --color-table-header-bg: var(--table-header-bg);
  --color-primary: var(--primary);
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-source-code-pro);
}

* {
  outline: none;
}

html {
  font-size: var(--font-size-base);
}
