.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

section.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  margin-top: 66px;
}

#hero-container {
  min-height: 100vh;
}

#about {
  width: 100%;
  background-color: var(--secondary-bg);
  color: var(--main-bg);
  padding: 1rem;
}

#about h1 {
  color: var(--main-bg)
}

#about .card {
  background-color: var(--secondary-bg-light);
  color: var(--main-bg);
}

#about .cards .card {
  max-width: 350px;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 2rem;
}

/* Centraliza o contêiner na página */
.contact-container {
  display: flex;
  max-width: 850px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  min-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-weight: bold;
  font-style: italic;
  color: var(--btn-primary)
}

/* Estilo do formulário */
.contact-container-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.contact-container-form .first-form-line div {
  width: 48%;
}

/* Estilo dos rótulos */
.contact-container-form label {
  display: flex;
  align-items: start;
  margin-bottom: 0;
  font-weight: bold;
  color: #555;
}

/* Estilo dos inputs e textarea */
.contact-container-form input,
.contact-container-form textarea {
  color: #333;
  font-size: 16px;
  border: none;
  border-bottom: solid 1px #2e31a6;
  display: block;
  outline: none;
  padding: 10px 0 8px;
  background: transparent;
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.hero-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.hero-section{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 16px;
}
#hero-content div{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 8px;
  max-width: 500px;
}
.hero-text{
  font-size: 36px;
  text-align: left;
}
.hero-section img{
  width: 90%;
  height: auto;
}

@media screen and (max-width: 750px) {
  .responsive-wrap {
    flex-wrap: wrap;
  }
}
