.header-container {
    display: flex;
    border-bottom: 1px solid var(--borders);
}

.main-header {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.main-header .logo-img {
    width: 220px;
}

ul.main-menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

ul.main-menu li.menu-item a {
    text-decoration: none;
    color: var(--main-text-color);
    padding: 10px;
}
li.menu-item a:hover {
    color: #000;
    border-bottom: 2px solid #fd6805;
}

