.header-container {
    position: fixed;
    display: flex;
    border-bottom: 1px solid var(--borders);
    background-color: rgba(255, 255, 255);
    width: 100%;
    height: auto;
}

.main-header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.main-header .logo-img {
    width: 220px;
}

#about, #team, #contact {
    padding-top: 66.19px;
}