.heroSection {
  background: linear-gradient(#00153B5A, #00153B5A), url('/banner/banner-1920x1080.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover,100%;
  background-position: top;
  background-blend-mode: multiply,color;
}
