.footer {
  background-color: #faf9f8;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* .footer-section-content{
  display: flex;
    flex-direction: column;
    align-items: center;
} */
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-section ul {
    list-style-type: none; /* Remove os marcadores */

}

.footer-section ul li {
    margin: 0 0;
}
/* .footer-section-content a:hover {
  color: #000;
  border-bottom: 2px solid #fd6805;} */

#footer-quick-links a:hover {
    color: #000;
    border-bottom: 2px solid #fd6805;}
  
.footer-section-title {

}

.footer-section .social-links {
  gap: 1rem;
  font-size: 2rem;
  line-height: 0;
}
