.footer {
  background-color: #faf9f8;
  text-align: center;
  width: 100%;
  padding: 1rem;
  color: var(--main-bg);
  background-color: var(--secondary-bg);
}

.footer a, .footer a:hover {
  color: var(--main-bg);
}

.footer-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  margin: auto;
}

.footer-body .dark-logo-container img {
  width: 400px;
}

.footer-listings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-section {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* .footer-section-content{
  display: flex;
    flex-direction: column;
    align-items: center;
} */
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-section ul {
    list-style-type: none; /* Remove os marcadores */

}

.footer-section ul li {
    margin: 0 0;
}

.footer-section .social-links {
  gap: 1rem;
  font-size: 2rem;
  line-height: 0;
}

@media screen and (max-width: 1000px) {
  .dark-logo-container, .footer-listings {
    width: 100%;
    margin-bottom: 2rem;
  }

}
@media screen and (max-width: 600px){
  .footer-body .dark-logo-container img {
    width: 100%;
  }
}
